* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #060b11;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 350vh;
  background-color: #eef4ed;
  display: flex;
  justify-content: center;
  transition: background-color 0.5s ease;
}

#center-content div {
  display: inline-block;
  padding: 5px;
}

#center-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#link img {
  border: 0px transparent;
}

#center-content {
  position: absolute;
  height: fit-content;
  width: fit-content;
  box-shadow: #060b11ab 0px 0px 5px 2px;
  background-color: transparent;
  border-radius: 20px;
  margin-top: 10%;
  align-items: center;
    margin-left: 5%;
  margin-right: 5%;
}

#profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px ridge #010205;
}

img {
  border: 2px ridge #010205;
  object-fit: cover;
}

#maps-img {
  width: 200px;
}

#center-content h1 {
  font-size: 2.5em;
  margin: 0;
}

#text-div div {
  display: flex;
  overflow: auto;
}

#header {
  position: absolute;
}

#header div {
  display: inline-block;
  padding: 7px;
}

#header div:hover {
  background-color: #dfe8d9;
  cursor: pointer;
}

#home-button {
  position: fixed;
  visibility: hidden;
  border-radius: 20px;
  background-color: #0b2545;
  width: 40px;
  height: 40px;
  text-align: center;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

#school-div {
  position: absolute;
  top: 110%;
  align-self: center;
  display: flex;
  border-radius: 20px;
  box-shadow: #060b11ab 0px 0px 5px 2px;
  padding: 2px;
    margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

#school-div div {
  padding: 3px;
  max-width: 100vh;
}

#school-div img {
  border-radius: 20px;
    width: 100%;
  height: auto;
}
#indirizzo img {
  max-width: 50vh;
}

#altro img {
  max-width: 50vh;
}

#projects-div {
  position: absolute;
  top: 230%;
  align-self: center;
  display: flex;
  border-radius: 20px;
  box-shadow: #060b11ab 0px 0px 5px 2px;
  padding: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

#projects-div a {
  color: #eef4ed;
  /* colore normale */
}

#projects-div a:visited {
  color: #8da9c4;
  /* colore dopo il click */
}

#projects-div div {
  padding: 3px;
}

#projects-div img {
  border-radius: 20px;
  object-fit: cover;
  width: 95%;
  height: auto;
}